---
title: The Rumbly in My Tumbly
layout: post
---
<p>So I threw my hat into the ring this weekend and participated in the <a href="http://r09.railsrumble.com/" title="Rails Rumble :: Welcome to the '09 Rumble">2009 Rails Rumble</a>. The gist of it is you have 48 to make a web app based off of a <a href="http://rack.rubyforge.org/" title="Rack: a Ruby Webserver Interface">Rack</a> compatible web framework.
</p>
<p>I've never done anything like this before and I was pretty nervous. My idea was revolved around a common habit of mine. When I write these posts, I tend to build up folders of bookmarks that I will use for research. I go through my bookmarks, do my post, and then I trash the folder. Sometimes I forget to delete these folders or I neglect to do it for whatever reason. Next thing I know, my bookmarks bar is full of these mothers and I'm deleting a whole bunch of them.
</p>
<!--more-->
<p><img src="http://hernan43.files.wordpress.com/2009/08/screenie.png" alt="Screenie" height="399" width="533">
</p>
<p>So my app, <a href="http://laterz.r09.railsrumble.com/">Laterz</a>, lets me use a bookmarks bar shortcut to auto-save URLs for me to go over later. I jokingly refer to it as <a href="http://en.wikipedia.org/wiki/Time_shifting" title="Time shifting - Wikipedia, the free encyclopedia">time shifting</a> URLs.
</p>
<p>With Laterz, you login with <a href="http://openid.net/" title="OpenID Foundation website">OpenID</a> and have a storage area for URLs. You can create categories to organize them if you want. Each category gets its own shortcut that can be copied to your bookmarks bar to auto-save URLs to that category.
</p>
<p>It is pretty simple. I wish my design skills were a bit better so that it wouldn't look like some kind of <a href="http://phpnuke.org/" title="PHP-Nuke">PHP Nuke</a> template from 1998 but oh well.
</p>