---
title: Rumble in the Internet Jungle
layout: post
---
<p>Well I've casted my lot and am entered in the <a href="http://r09.railsrumble.com/">Rails Rumble 2009</a>. The Rails Rumble is a 48 hour coding competition using <a href="http://rubyonrails.org/">Ruby on Rails</a>.
</p>
<p>The actual competition doesn't happen until August 22nd, 2009. I have a good idea about what I am going to do. The only real question is how much I can accomplish in 48 hours.
</p>
<p>I am positive I can get the basics working in 48 hours but my concept has some pretty grand ideas and I would love to finish a few of them before the time is up. Who knows, maybe I'll even win a prize.
</p>
<p>See the <a href="http://blog.railsrumble.com/">Rails Rumble Blog</a> for more info.
</p>