---
title: Walk the Command Line
layout: post
---
<p>When I was a young whipper snapper in college I was learning how to use <a href="http://en.wikipedia.org/wiki/Solaris_Operating_System">UNIX</a> and I came from a world of <a title="Microsoft Windows - Wikipedia, the free encyclopedia" href="http://en.wikipedia.org/wiki/Microsoft_Windows">Windows</a> and <a title="Mac OS - Wikipedia, the free encyclopedia" href="http://en.wikipedia.org/wiki/Mac_OS">Mac OS</a>. I found the <a title="Common Desktop Environment - Wikipedia, the free encyclopedia" href="http://en.wikipedia.org/wiki/Common_Desktop_Environment">CDE</a> interface to be putrid at best. I also thought the command line stuff we had to do was an archaic holdover from caveman days.
</p>
<!--more-->
<p>I hated using the command line but I thought, "well, I have to crawl before I can walk." I mean, if it doesn't have a GUI it must be a pile of trash, right? So I put my head down, sucked it up, and trudged my way through countless classes stuck on command line UNIX hoping for better days ahead. No wonder no one uses UNIX operating systems.
</p>
<p>Fast forward 13 years and here I am a command line chauvinist. I do everything I can on the command line. I seek out command line interfaces to *everything*. If some new thing floats across my way and I like it, the first thing I ask myself is, "I wonder if it has a command line interface..."
</p>
<p>Thanks to places like <a title="All commands | commandlinefu.com" href="http://www.commandlinefu.com/commands/browse">commandlinefu.com</a> I can now feed my need like never before. Like <a title="Delicious" href="http://delicious.com/">Delicious bookmarks</a> for command line snippets, commandlinefu.com is loaded with gems.
</p>
<p>Some of my favorites are:
<ul>
	<li><a title="Update twitter via curl | commandlinefu.com" href="http://www.commandlinefu.com/commands/view/176/update-twitter-via-curl">Tweeting from the shell</a></li>
	<li><a title="Twitpic upload and Tweet | commandlinefu.com" href="http://www.commandlinefu.com/commands/view/2007/twitpic-upload-and-tweet">Twitpic from the shell</a></li>
	<li><a title="Copy a MySQL Database to a new Server via SSH with one command | commandlinefu.com" href="http://www.commandlinefu.com/commands/view/887/copy-a-mysql-database-to-a-new-server-via-ssh-with-one-command">MySQL DB copy over SSH</a></li>
	<li><a title="output your microphone to a remote computer's speaker | commandlinefu.com" href="http://www.commandlinefu.com/commands/view/350/output-your-microphone-to-a-remote-computers-speaker">Output your microphone to a remote machine's speaker</a></li>
</ul>
</p>
<p>The command line is a treasure trove of automation and productivity enhancements. Not to mention it is seemingly a lost art. It seems as though, more and more, when I tell people to fire up a command line and run a specific command I am greeted with a groan. Is the command line truly dying? Or do I just hang out with too many GUIites?
</p>