---
title: My Rails Rumble 2009 Entry
layout: post
---
<p>So I didn't create a <a href="http://hernan43.wordpress.com/2009/08/24/the-rumbly-in-my-tumbly/">finals-worthy entry</a> in the <a href="http://r09.railsrumble.com/" title="Rails Rumble :: Rails Rumble Leaderboard">2009 Rails Rumble</a> but that doesn't mean it isn't useful
</p>
<p>I've decided to <a href="http://www.gnu.org/copyleft/gpl.html" title="Gnu Pulic License">open source</a> my entry so that other people can take a look at it and maybe even use it or steal from it.
</p>
<p>Check out the <a href="http://github.com/hernan43/laterz/tree/master" title="laterz github repo">github repository for laterz here</a>.
</p>