---
title: Revisiting an old friend
layout: post
---
<p>A few years ago, circa 2003, I started a new job at my current employer. Everyone there used IRC for everything. We had a guy that was telecommuting so it made it easier to collaborate with the whole team. As long as we discussed it in IRC, everyone was able to participate
</p>
<p>We had a large number of systems that we monitored using <a href="http://bb4.com/" title="Network Monitoring Software - Big Brother">Big Brother</a>. It was quite nice, but we always had to have our web browser tuned to the Big Brother monitoring app, or we had to be sure to pay attention to our email.
</p>
<!--more-->
<p>Naturally we didn't always do either so sometimes 5, maybe 10 minutes would go by before we noticed a system was having trouble. I thought it would be cool to create an IRC bot that posted system notifications in an IRC channel. 
</p>
<p>This worked great because everyone's client would let you know when there were new messages in the channel. If we wanted to we could (and did) colorize 'info' messages one color, and 'severe' messages another and so on.
</p>
<p>We loved the bot so much that on my last day there, I accidentally deleted my home directory on that machine (I got a little overzealous with the rm -rf). My boss had me leave the box on so they could leave the bot running in core memory for a number of months. I didn't have another copy of the code and needless to say I was cheesed off.
</p>
<p>Last year I decided to sit down and re-create it as best as I could. I sent it to my old team mates so they could use it again if they wished. I've also open sourced it in case anyone else would like to play with it. 
</p>
<p>I call it the <a href="http://github.com/hernan43/telnechobot" title="hernan43's telnechobot at master - GitHub">Telnecho Bot</a>.
</p>