---
title: Moving
layout: post
---
Thinking of moving this blog to <a href="http://pages.github.com/">GitHub Pages</a>. Well actually, I *am* going to move it to GitHub pages. I'm just contemplating if I want to move my posts over as well...
