---
title: Been workin
layout: post
---
<p>I've been working on a really small project that I've decided to share with the world. I would love for people to try it out. Hopefully I can get a handful of users using it so I can see my creation in action.
</p>
<p>Without further ado, I present my little baby, <a title="ENIV.US" href="http://eniv.us">eniv.us</a>.
</p>

<p>Here is a blog entry that has more detailed info:
</p>
<a href="http://enivus.wordpress.com/2009/06/25/eniv-us-my-little-experiment/">http://enivus.wordpress.com/2009/06/25/eniv-us-my-little-experiment/</a>

<p>He also has <a href="http://twitter.com/enivus">his own Twitter page.</a>
</p>