---
title: A few days of testing
layout: post
---
<p>So I started an exercise to learn <a title="Test-driven development - Wikipedia, the free encyclopedia" href="http://en.wikipedia.org/wiki/Test-driven_development">TDD</a> with <a title="Ruby on Rails" href="http://rubyonrails.org/">Ruby on Rails</a>.
</p>
<p>I created a <a href="http://github.com/hernan43/tdd-experiment">project on git</a> and started coding it up whenever I get a few spare minutes here and there.
</p>
<p>It has been slow going but I am creeping along. Thoughtbot's <a title="Projects - Factory Girl" href="http://www.thoughtbot.com/projects/factory_girl">factory-girl</a> and <a title="Projects - Shoulda" href="http://www.thoughtbot.com/projects/shoulda/">shoulda</a> have been making it much easier.
</p>
<p>I am currently reading <a title="Andrzej on Software: 15 TDD steps to create a Rails application" href="http://andrzejonsoftware.blogspot.com/2007/05/15-tdd-steps-to-create-rails.html">15 TDD steps to create a Rails application</a> and its children to help me get started with getting into the TDD mindset.
</p>