---
title: Why add my voice to zillions of others
layout: post
---
<p>I signed up for a <a href="http://en.wordpress.com/api-keys/">Wordpress API key</a> many a year ago. I needed it to try out <a href="http://akismet.com/">Akismet</a>. I was teaching myself how to write <a href="http://www.djangoproject.com">Django</a> apps and was doing the quintessential "build your own blog" method of self instruction.
</p>
<!--more-->
<p>What I did not realize at the time was that it created a Wordpress.com blog for me when I created my account. Maybe I did realize it at the time and didn't care. Either way, I forgot it existed only to stumble across it years later. 
</p>
<p>Now here I am at a Wendy's killing time before I have to go back to work. I have <a href="http://macromates.com">TextMate</a> open and a spicy chicken sandwich at my side. I'm not really a writer and I have tried blogging in the past only to let my poor blog languish away in a furious firestorm of inactivity.
</p>
<p>So why am blogging now? Well <a href="http://www.rubyinside.com/11-tips-on-hiring-a-rails-developer-662.html">I read somewhere</a> that in order to make yourself more appealing to potential employers you should have a blog that you use to engage with the community.
</p>
<p>I have no idea if this is at all effective or if I will even make my way back into the world of blogging but I guess I should try. Summer is coming back, the weather is changing, my garden is getting ready to burst forth with life, and I have a new found excitement for the spice of life.
</p>