a,
a:hover,
a:visited {
	color: #ee1133; /* red */
	text-decoration: none;
}

body {
	background: #222222; /* charcoal */
	color: #444444;
	font-family: Monaco, Tahoma, sans-serif;
}

h1,h2,h3,h4,h5 {
	color: #ee1133; /* red */
}

h1,h2,h3 {
	margin-top: 0px;
}

#archive {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 20px auto;
	width: 550px;
}

#archive a {
    float: left;
}

#archive abbr {
	float: right;
}

#content {
	padding: 15px;
}

#content_left {
	float: left;
}

#content_right {
	float: right;
}

#header {
	padding: 15px;
}

#footer {
	background: #eeeeee;
	border-top: 1px dotted #222222;
	font-size: 0.9em;
	padding: 10px;
}

#wrapper {
	width:650px;
	margin:0px auto;
	text-align:left;
	border:1px dashed #ddd;
	background: #fefefe;
}

.clear {
	clear: both;
}

.date {
	color: #aaaaaa;
}
