---
layout: master
---
<div class="post">
  <h1><a href='{{page.url}}'>{{page.title}}</a></h1>
  <span class="date">published {{ page.date | date_to_string }}</span>
  <p>{{ content }}</p>

	<!-- The copy "anywhere" block -->
	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/hernan43-github/embed.js"></script><noscript><a href="http://disqus.com/forums/hernan43-github/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div><!-- end of post -->